{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'poll/Navigation.html' %}

    <h1>Hello</h1>
<P>
Poll Maker is committed to protecting your privacy and the privacy of your respondents. We will never sell, misuse or exploit any information provided to us. We collect information for the sole purpose of improving the range of Poll and Quiz tools we provide. Our privacy policy explains how we collect and treat this information. By using our services you acknowledge that you have reviewed and accepted the terms of our privacy policy.

This privacy policy does not apply to separate entities utilizing the services of Poll Maker
</P>
<h2> Information Collection</h2>
<p>The following describes the types of information collect during various interactions with our services.</p>

<h3>Account Information</h3>
During either Facebook, Google or form account registration with Poll Maker we may collect personally identifying information such as IP address, First, Last name and more.

<h4>Respondent Information</h4>
We collect information such as IP, location, timing and website visitor metrics in order to provide both security and reporting features to poll and quiz creators. We also use engagement metrics in order to deliver the most popular content to our website visitors.

<h5>Credit Card Payments</h5>
Credit Card Payments
Poll Maker uses the eWAY Payment Gateway for its online credit card transactions. eWAY processes online credit card transactions for thousands of Australian merchants, providing a safe and secure means of collecting payments via the Internet. All online credit card transactions performed on this site using the eWAY gateway are secured payments.
Payments are fully automated with an immediate response. Your complete credit card number cannot be viewed by Poll Maker or any outside party. All transactions are performed under 128 Bit SSL Certificate. All transaction data is encrypted for storage within eWAY’s bank-grade data centre, further protecting your credit card data. eWAY is an authorised third party processor for all the major Australian banks. eWAY at no time touches your funds; all monies are directly transferred from your credit card to the merchant account held by Poll Maker.

{% endblock %}